.content {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skicka {
    margin-top: 60;
    align-items: start;
    justify-content: flex-end;
    margin-left: -380;
}