.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: rgb(60, 60, 60);
}

a {
    text-decoration: none;
}

a:hover {
    color: antiquewhite;
}

a:visited {
    color: antiquewhite;
}

h1 {
    color: antiquewhite;
}

button {
    background-color: rgb(60, 60, 60);
}