ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
}
li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: #c2b8d0;
}
.text {
    text-align: center;
    font-size: 1.9vw;
    color: black;
}
.logo {
    width: 20vw;
    height: 5vw;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: lightblue;
}
