.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: antiquewhite;
}

body {
    background-color: rgb(60, 60, 60);
}

h1 {
    color: antiquewhite;
}

h3 {
    color: antiquewhite;
}

p {
    color: antiquewhite;
}

.download {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}


.download::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}

.download:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
}

.download:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}

a:link {
    color: antiquewhite;
}

a:visited {
    color: antiquewhite;
}

.break {
    border-color: antiquewhite;
}