body {
    background-color: rgb(60, 60, 60);
}

a:link {
    color: antiquewhite;
}

a:visited {
    color: antiquewhite;
}

.content {
    color: antiquewhite;
    position: absolute;
    top: 20%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}