<div class="explanation">
    <h1 bgcolor="lightblue" class="explantationText">renWorks is a semi-internal collection of functions
        and styling macros for
        Ren-Net.</h1>
</div>
<div class="warning">
    <p class="warningText">Use at your own risk. Use this code to add renWorks to your website:
        <code>&ltscript src="https://ren-net.net/renworks/renWorks.js" defer components="" id="renWorks" type="module"&gt&lt/script&gt</code>
        <br>
        <strong>There will be breaking changes.</strong>
    </p>
</div>

<br>