.välkommen {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
body {
    background-color: gray;
}
.chatta {
    height:40px;
    position: fixed;
    left: 0;
    bottom: 0%;
    width: 500%;
}
.knappar {
    display: flex;
    justify-content: right;
    align-items: flex-start;
}