.välkommen {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
body {
    background-color: gray;
}
.chatta {
    height:40px;
    position: fixed;
    left: 0;
    bottom: 0%;
    width: 500%;
    margin-top: -50;
}
.knappar {
    display: flex;
    justify-content: right;
    align-items: flex-start;
}
.inloggadsom {
    margin-top: 2;
    margin-right: 20;
}
.chattbox {
    width: 60vw;
    margin-top: -50;
    opacity: 50%;
}
.messagesdiv {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}