body {
    background-color: grey;
}
.content {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.username {
    width: 200;
}
.password {
    width: 200;
    margin-top: 50;
    margin-left: -200;
}
.login {
    background-color: lightblue;
    margin-bottom: -100;
    margin-left: -200;
    width: 200;
}
.switchtologin {
    display: flex;
    justify-content: right;
    align-items: flex-start;
}