. filter=lfs diff=lfs merge=lfs -text
supertux2_bkg.png filter=lfs diff=lfs merge=lfs -text
supertux2.data filter=lfs diff=lfs merge=lfs -text
supertux2.html filter=lfs diff=lfs merge=lfs -text
supertux2.js filter=lfs diff=lfs merge=lfs -text
supertux2.png filter=lfs diff=lfs merge=lfs -text
supertux2.wasm filter=lfs diff=lfs merge=lfs -text
supertux2.worker.js filter=lfs diff=lfs merge=lfs -text
README.txt filter=lfs diff=lfs merge=lfs -text
